# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[src/*.{gleam,css}]
charset = utf-8
indent_style = space
indent_size = 2

[{package.json,.github/**/*.yml}]
indent_style = space
indent_size = 2
