@import "tailwindcss";

@source "**/*.{gleam,css}";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --preferslight,
    dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
